





h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.rating {
  text-align: center;
}


.page-footer {
  font-size: 13px;
  padding: 17px 0;
  text-align: center;
  background-color: #eaebed;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

#upload-icon {
  font-size: 100px;
  opacity: .7;
}

.add-photo{
  float: left;  
  text-align: center;
  border: 1px solid #848587;
}

.add-photo input[type="file"]{
  opacity: 0;
}

.add-recipe{
  float: right;
  position: relative;
}



.carousel img {
    height: 200px !important;
    max-width: 200px !important;
    width: auto;
    margin: 0px auto;
}

.recipe-title {
    font-size: 12px;
    text-align: center;
}

.new-recipe-button{
  position: relative;
  float: right;
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}




