a {
  color: #bf9b30;
}

h1{
  text-align: center;
  color: #bf9b30;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: #bf9b30;
  font-variant: all-small-caps;
  margin-bottom: 20px;
}

img {
  border-radius: 5px;
  border: 2px solid #bf9b30;
}

.btn, .btn-default {
  color: #bf9b30;
}

.change-color {
  color: #bf9b30;
  font-weight: bold;
  font-size: 18px;
  font-variant: all-small-caps;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.shift-down {
  margin-top: 50px;
}

body {
  background: url("/static/Pattern-Pink.JPG");
  background-size: cover;
}

.recipe-input {
  height: 50px;
  width: 500px;
  border-radius: 3px;
  background-color: rgba(255,255, 255, .5);
}


.shape {
    /*width: 275px;*/
    height: 200px;
    border: 2px solid #bf9b30;
    padding: 25px;
    /*margin-right: 25px;*/
    /*margin-top: 25px;*/
    border-radius: 10px;
    margin: 25px 48px 0px 48px;
    overflow: auto;
}

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bf9b30;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #bf9b30;
  border-radius: 5px; 
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f005   \f005   \f005   \f005   \f005";
  color: #ccc;
  font-size: 18px;
  margin-left:11px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005   \f005   \f005   \f005   \f005";
  color: #f8ce0b;
  font-size: 18px;
  margin-left:11px;
}

.sharedrating {
  text-align: center;
}

.personalrating {
  text-align: center;
}




.favorite {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 250px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 250px;
  width: 250px; 
}

.favorite .top-right {
    position: absolute;
    top: 2px;
    right: 4px;
}

.center{
  text-align: center;
}

@media(max-width: 480px) {
  .center {
    text-align: center;
  }
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 8em;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font: 18px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f8ce0b;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #f8ce0b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.page-footer {
  font-size: 13px;
  padding: 17px 0;
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
  color: #bf9b30;
}

#upload-icon {
  font-size: 100px;
  opacity: .7;
}

.add-photo{
  float: left;  
  text-align: center;
  border: 1px solid #848587;
}

.add-photo input[type="file"]{
  opacity: 0;
}

.add-recipe{
  float: right;
  position: relative;
}



.carousel img {
    height: 200px !important;
    max-width: 200px !important;
    width: auto;
    margin: 0px auto 20px;
}

.recipe-title {
    font-size: 12px;
    text-align: center;
}

.new-recipe-button{
  position: relative;
  float: right;
  margin-right: 400px;
}


.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    backface-visibility: visible;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}


