<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Cakemania</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
</head>
<body>
	<div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
						{{ message }}
					</div>
				{% endfor %}				
			{% endif %}					
		{% endwith %}
	</div>


	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">

	      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
	      	</button>
	      	<a class="navbar-brand" href="/"><img src='https://thumb7.shutterstock.com/display_pic_with_logo/3873872/725632057/stock-vector-cake-logo-725632057.jpg' alt='navbar-logo' height='30' width='30'/></a>
	      	<form class="navbar-form navbar-left" role="search"action="/search">
	        	<div class="form-group">
	          		<input type="text" class="form-control" placeholder="Search" name="search">
	        	</div>
	        	<button type="submit" class="btn btn-default">Search</button>
	      	</form>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		      	{% if 'logged_in_user' not in session %}
		        	<li><a href="#loginModal" data-toggle="modal" id="loginLink">Log In</a></li>
		        	<div class="modal fade" id="loginModal" role="dialog">
    					<div class="modal-dialog">
    						<div class="modal-content">
        						<div class="modal-header">
          							<button type="button" class="close" data-dismiss="modal">&times;</button>
          							<h4 class="modal-title">Log in</h4>
        						</div>
        						<div class="modal-body">
          							<form action='/login' method='POST'>
										<dl>
											<dt>Email: 
											<dd><input type='email' name='email' required>
											<dt>Password: 
											<dd><input type='password' name='password' required>
											<p><dd><input type='submit' value='LOGIN'></p>
										</dl>
									</form>
        						</div>
        						<div class="modal-footer">
          							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          						</div>
          					</div>
          				</div>
          			</div>

          			<li><a href="#registerModal" data-toggle="modal" id="registerLink">Register</a></li>
		        	<div class="modal fade" id="registerModal" role="dialog">
    					<div class="modal-dialog">
    						<div class="modal-content">
        						<div class="modal-header">
          							<button type="button" class="close" data-dismiss="modal">&times;</button>
          							<h4 class="modal-title">Register</h4>
        						</div>
        						<div class="modal-body">
          							<form action='/register' method='POST'>
										<dl>
											<dt>First name: 
											<dd><input type='text' name='fname' required>
											<dt>Last name: 
											<dd><input type='text' name='lname' required>
											<dt>Email: 
											<dd><input type='email' name='email' required>
											<dt>Password: 
											<dd><input type='password' name='password' required>
											<p><dd><input type='submit' value='REGISTER'></p>
										</dl>
									</form>
        						</div>
        						<div class="modal-footer">
          							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          						</div>
          					</div>
          				</div>
          			</div>


          			<script>
						$(document).ready(function(){
						    $("#loginLink").click(function(){
						        $("#loginModal").modal({backdrop: true});
						    });
						    $("#registerLink").click(function(){
						        $("#registerModal").modal({backdrop: true});
						    });
					</script>

		        {% else %}	
		        	<p class="navbar-text">My account</p>     
			    	<li><a href="/user_recipes">My recipes</a></li>
			    	<li><a href="/favorites">My favorite recipes</a></li>
			    	<li><a href="/logout">Log Out</a></li>
				{% endif %}

		      </ul>
	    	</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>

	{% block content %} put your content here {% endblock %}
	
<script src="/static/js/custom.js"></script>
</body>
</html>