{% extends 'base.html' %}
{% block content %}

<h3>Welcome to CakeMania</h3>


<div class="container">
  <h2>Tranding cakes for today</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">

        	<div class="carousel-inner" role="listbox">
		      	{% for i, recipe in enumerate(recipes) %}
		      		{% if i == 0 %}
		      			<div class="item active">
		      				<div class="col-xs-4">
							<h3> {{ recipes[0].rname }}</h3> <br>
							<a href="/recipe/{{ recipes[0].recipe_id }}"> <img src={{ recipes[0].img_url }} class="img-responsive"/></a></div>
						</div>
					{% else %}
						<div class="item">
							<div class="col-xs-4">
							<h3> {{ recipe.rname }} </h3><br>
							<a href="/recipe/{{ recipe.recipe_id }}"> <img src={{ recipe.img_url }} class="img-responsive"/></a></div>
						</div>
					{% endif %}
				{% endfor %}       
		    </div>         
          
          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div>
</div>



{% if 'logged_in_user' in session %}
	<a href="/add_new_recipe"><button>Add new recipe</button></a>
{% endif %}

{% endblock %}