{% extends 'base.html' %}
{% block content %}

<h3>LOGIN</h3>

<form action='/login' method='POST'>
	<dl>
		<dt>Email: 
		<dd><input type='email' name='email' required>
		<dt>Password: 
		<dd><input type='password' name='password' required>
		<p><dd><input type='submit' value='LOGIN'></p>
	</dl>
</form>

<p>Register if you want
	<ul>
		<li>Add your photos, recipes</li>
		<li>Save your favorites</li>
		<li>Comment on recipes, photos</li>
		<button><a href="/register">Register</a></button>
	</ul>

</p>

{% endblock %}