{% extends 'base.html' %}
{% block content %}

<h2> {{ recipe.rname }} </h2>


<p class="center"> Occasion: {{ recipe.occasions[0].oname }}</p>
<p class="center"> Description: {{ recipe.style }}</p>

<img class="image" src='{{ recipe.img_url }}' height="100" width="100"/>
	<div class="top-right">
		{% if 'logged_in_user' in session and session['logged_in_user'] == recipe.user_id %}
			<p><a href="/edit_recipe/{{ recipe.recipe_id }}">Edit</a></p>
		{% endif %}
	<div>


<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-3 col-lg-3 shape"> Tools: {%  for tool in recipe.tools %}
				<ul>
					<li>{{ tool.tname }}</li>
				</ul>
		   {% endfor %}
		</div>
		<div class="col-xs-12 col-md-3 col-lg-3 shape"> 
			Ingridients: {% for ingridient in recipe.ingridients %}
						<ul>
							<li>{{ ingridient.iname }}</li>
						</ul>
				  {% endfor %}
		</div>	
		<div class="col-xs-12 col-md-3 col-lg-3 shape"> 
			<p>Instructions: </p><p>{{ recipe.instructions }}</p>
		</div>
	</div>
</div>





<!-- {% if 'logged_in_user' in session %}
	<button><a href="/user_profile/{{ session['logged_in_user'] }}">Back</a></button>
{% else %}
	<button><a href="/">Back</a></button>
{% endif %}
 -->
{% endblock %}